header {
    position: fixed;
    width: 100%;
    height: 250px;
    top: 0;
    background-color: white;
}

html {
    max-width: 100%;
    width: 100%;
    display: table;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 40px;
    background:white;
}

body {
    margin: 0px;
    padding: 0px;
    width: auto;
    background-color: white;
    display: table-cell;
}

.titelSite {
    width: auto;
    height: 20%;
    margin:0;
    padding:0;
    background-color: white;
}

.titel1 {
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 50px;
    background: repeating-linear-gradient(45deg, orange, orange 15px, white 15px, white 30px);
}

.paginas {
    display: flex;
    justify-content: space-evenly;
    border: 8px solid gold;
    background-color: gold;
    background: repeating-linear-gradient(0deg, orange, orange 20%, white 20%, white 40%);
}

.pagina {
    padding: 2% 2%;
    text-align: center;
    font-weight: 1000;
    font-family: sans-serif;
    font-size: 80%;
}

.pagina20 {
    background-color: gold;
}

.paginaonderwerpen {
    display: flex;
    justify-content: space-evenly;
    border: 8px solid orange;
    background-color: white;
    background: repeating-linear-gradient(90deg, white, white 5px, orange 5px, orange 10px);
    height: 60px;
}

main {
    margin:0;
    margin-top: 295px;
    padding:0;
    width: auto;
    background-color: white;
}

.postNumber {
    text-align: justify;
    float: right;
}

.postnumberborder {
    border: 10px double gold;
    text-align: right;
    margin-bottom: 8px;
}

.postTitel {
    text-align: center;
}

.postText {
    text-align: left;
}

.datumpost {
    text-align: right;
}

.postInformatie {
    font-family: Arial;
}

